__pycache__/
*.py[cod]
.venv/
*.db
*.sqlite
expense_report_app/data/receipts/*
!expense_report_app/data/receipts/.gitkeep
expense_report_app/data/generated_pdfs/*
!expense_report_app/data/generated_pdfs/.gitkeep
